*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

button{
  padding:10px 20px;
  margin:10px;
}
h1{
  padding: 10px 80px ;
  width: fit-content;
  background-color: rgb(231, 223, 223);
  font-size: 100px;
  margin:10px;
  border-radius: 10px;
}